= form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :subject
    = f.text_field :subject
  .field
    = f.label :content
    = f.text_field :content
  .field
    = f.label :state
    = f.select :state, Question.states.keys.map {|key, value| [I18n.t("activerecord.enum.question.state.#{key}"), value]}
  .actions
    = f.submit '質問する', class: "btn btn-default"
