%h1 Listing questions

= link_to 'Log Out', logout_path

= render 'search_form'

- if @questions.empty?
  %p= "--該当する質問がありません--"
- else
  %p= "--#{@questions.count}件の質問があります--"
  %table
    %thead
      %tr
        %th
        %th Subject
        %th Content
        %th State
        %th Tags

    %tbody
      - @questions.each do |question|
        %tr
          %td= l(question.created_at)
          %td= link_to question.subject, question
          %td= question.content
          %td= question.state
          %td
            - question.tags.each do |tag|
              %span= link_to tag.name, tag
  %br

= link_to 'New question', new_question_path
