%h1.title 質問一覧

%span= link_to 'ログアウト', logout_path

%h2 最新の質問

= render 'search_form'

- if @questions.empty?
  %p= "--該当する質問がありません--"
- else
  %p= "--#{@questions.count}件の質問があります--"

.questions
  - @questions.each do |question|
    .question-card
      =link_to question do
        %h3.question-title= question.subject
        %p.question-content= question.content
        %p.question-created= l(question.created_at)
        %p.question-state= question.state_text
      - if question.tags.exists?
        %p.question-tags
          - question.tags.each do |tag|
            %span= link_to "##{tag.name}", tag

= link_to '質問する', new_question_path
