.header
  %h1.title 質問一覧
  %span= link_to '質問する', new_question_path
  \|
  %span= link_to 'ログアウト', logout_path

%h2 最新の質問
= render 'search_form'

.questions
  - if @questions.empty?
    %span= "--該当する質問がありません--"
  - else
    %span= "--#{@questions.count}件の質問があります--"

  - @questions.each do |question|
    .question-card
      =link_to question do
        %h3.question-title= question.subject
        %p.question-content= question.content
        %span.question-created= l(question.created_at)
        %span.question-state= question.state_text
      - if question.tags.exists?
        %p.question-tags
          - question.tags.each do |tag|
            %span
              = link_to "##{tag.name}", tag
