%h1 質問一覧

= link_to 'ログアウト', logout_path

= render 'search_form'

- if @questions.empty?
  %p= "--該当する質問がありません--"
- else
  %p= "--#{@questions.count}件の質問があります--"
  %table
    %thead
      %tr
        %th
        %th
        %th
        %th
        %th

    %tbody
      - @questions.each do |question|
        %tr
          %td= l(question.created_at)
          %td= link_to question.subject, question
          %td= question.content
          %td= question.state_text
          %td
            - question.tags.each do |tag|
              %span= link_to tag.name, tag
  %br

= link_to '質問する', new_question_path
