%p#notice= notice

%p
  %b Subject:
  = @question.subject
%p
  %b Content:
  = @question.content
%p
  %b State:
  = @question.state

- @answers.each do |answer|
  %p
    %span= answer.id
    %span= answer.comment

%p= "#{@tag_form.show_tags}"

- if @question.tags.exists?
  = link_to 'タグ編集', edit_path(question_id: @question)
- else
  = link_to 'タグ追加', new_question_tag_path(@question)
= link_to '回答する', new_question_answer_path(@question)
= link_to 'Back', questions_path
