%p#notice= notice

%p
  %b Subject:
  = @question.subject
%p
  %b Content:
  = @question.content
%p
  %b State:
  = @question.state

- @answers.each do |answer|
  %p
    %span= answer.id
    %span= answer.user_id
    %span= answer.comment

%span= "#{@tag_form.show_tags}"
%span
  - if @question.tags.exists?
    = link_to 'タグを編集する', question_tags_edit_path
  - else
    = link_to 'タグを追加する', question_tags_edit_path

%p
  = link_to '回答する', new_question_answer_path(@question)
  = link_to 'Back', questions_path
