= form_for @tags, url: edit_path do |f|
  - if @tags.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tags.errors.count, "error")} prohibited this tags from being saved:"
      %ul
        - @tags.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name, value: "#{@tags.show_tags}"
  .actions
    = f.submit 'Save'
