%h1 tag [#{@tag.name}]

- if @tag.questions.nil?
  %p= "--該当する質問がありません--"
- else
  %p= "--#{@tag.questions.count}件の質問があります--"
  %table
    %thead
      %tr
        %th Subject
        %th Content
        %th State
        %th Tags

    %tbody
      - @tag.questions.each do |question|
        %tr
          %td= link_to question.subject, question
          %td= question.content
          %td= question.state
          %td= question.show_tags
  %br

= link_to 'New question', new_question_path
