%h1 tag [#{@tag.name}]

- if @tag.questions.nil?
  %p= "--該当する質問がありません--"
- else
  %p= "--#{@tag.questions.count}件の質問があります--"
  %table
    %thead
      %tr
        %th
        %th
        %th
        %th

    %tbody
      - @tag.questions.each do |question|
        %tr
          %td= link_to question.subject, question
          %td= question.content
          %td= question.state
          %td
            - question.tags.each do |tag|
              %span= link_to tag.name, tag
  %br

= link_to '戻る', questions_path
= link_to '質問を作成する', new_question_path
